<!DOCTYPE html>
<html lang="ja-JP" prefix="og: http://ogp.me/ns#">
<%- include("../_partial/meta", data)  %>
<body>

  <%- include("../_partial/header", data) %>

  <%- include("../_partial/share", data) %>

  <main class="Main">
    <div class="DummyBox" data-inview>
      <p>ダミーテキスト</p>
    </div>

    <div class="DummyBox" data-inview>
      <p>ダミーテキスト</p>
    </div>
  </main>

  <%- include("../_partial/footer", data) %>

<script src="/script/script.js"></script>
</body>
</html>
