-
  const _title = "タイトル"
  const _sitename = data.sitename
  const _desc = "デスクリプション"
  const _keywords = data.keywords
  const _class = "top"
  const _host = data.permalink
  const _pagePath = ""
  const _permalink = _host+_pagePath
doctype html
html(lang="ja")
  include ../_partial/meta

  body(class=_class)
    include ../_partial/header

    include ../_partial/share

    main.Main
      .DummyBox(data-inview)
        p ダミーテキスト
      .DummyBox(data-inview)
        p ダミーテキスト

    include ../_partial/footer
