<!DOCTYPE html>
<html lang="ja-JP" prefix="og: http://ogp.me/ns#">
<head>
<%- include("../_partial/meta", data)  %>
</head>
<body>

  <%- include("../_partial/header", data) %>

  <%- include("../_partial/share", data) %>

  <%- include("../_partial/footer", data) %>

<script src="/script/script.js"></script>
</body>
</html>
