<%
  _sitename = encodeURIComponent(data.sitename)
  _permalink = encodeURIComponent(data.permalink)
%>
<nav class="Sns" aria-describedby="SnsDescribe">
  <h2 class="Sns__heading" id="SnsDescribe"><%= data.sitename %>をSNSでシェア</h2>
  <ul class="Sns__list">
    <li class="Sns__item">
      <a href="https://twitter.com/intent/tweet?text=<%= _sitename %>&amp;url=<%= _permalink %>" class="Sns__link" target="_blank" rel="noopener">ツイートする</a>
    </li>
    <li class="Sns__item">
      <a href="https://www.facebook.com/sharer/sharer.php?u=<%= _permalink %>" class="Sns__link" target="_blank" rel="noopener">Facebookでシェアする</a>
    </li>
  </ul>
</nav>
