<head>
  <meta charset="utf-8">
  <title><%= data.sitename %></title>

  <meta name="viewport" content="width=device-width">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:site_name" content="">

  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="/asset/style/style.css?<%= new Date().getTime().toString().substr(0, 9) %>">
  <link rel="canonical" href="<%= data.permalink %>">

  <script src="/asset/script/script.js?<%= new Date().getTime().toString().substr(0, 9) %>"></script>
</head>
